<%-  include('../admin_layout/header.ejs') %>
    <h4>Welcome to admin dashboard</h4>
    Welcome : <%= userData.name %>
    
    <div>
        <p>Total users are 45 <a href="/admin/user-list">click here to see user list</a></p>
    </div>
<%- include('../admin_layout/footer.ejs') %>
