<%- include('../user_layout/header.ejs') %>
<h4>Welcome <%= userData.name %> to User Dashboard </h4>
<div>
<a href="/user/add-contact" class="btn btn-primary">Add Contacts</a>
<a href="/user/contact-list" class="btn btn-success">See Contact List</a>
</div>
<%- include('../user_layout/footer.ejs') %>


